projects/*/_xmsgs/
projects/*/_ngo/
projects/*/xst/
projects/*/iseconfig/
projects/*/xlnx_auto_0_xdb/

*.err
*.html
*.htm
*.js
*.js
*.bld
*.cmd_log
*.gyd
*.jed
*.lso
*.mfd
*.ng?
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.vm6
*.xml
*.xst
*.xrpt
*.csv



projects/*/mapper_top*

